.App {
  text-align: center;
}

nav {
  background-color: aqua;
  padding: 30px;
}

.link {
  text-decoration: none;
  padding: 10px;
  font-size: 1.2rem;
  color: gray;
}

.active-link {
  color: lightgray;
}